{% assign theme = site.data.themes[site.ui_theme] %}
<!-- Displays Social Media Icons based on _config.yml settings -->
{{ if site.twitter }}
<span style="color:{{ theme.social-color }};">
    <i> &nbsp;&nbsp; </i>
    <a class="social-link" href="mailto:{{ site.email }}">
            <span style="color: {{ theme.social-color }};">
                <i class="fa fa-envelope fa-lg"></i></a>
            </span>        
    {{ elseif site.github }}
        <a href="https://github.com/{{ site.github }}">
            <span style="color: {{ theme.social-color }};">
            <i class="fab fa-github-square fa-lg"></i></a>
        </span>
    {{ elseif site.linkedin }}
        <a href="https://www.linkedin.com/in/{{ site.linkedin }}">
            <span style="color: {{ theme.social-color }};">
                <i class="fab fa-linkedin fa-lg"></i></a>
            </span>
    {{ elseif site.google }}
        <a href="https://scholar.google.com/citations?hl=en&user={{ site.google.scholar }}">
            <span style="color: {{ theme.social-color }};">
                <i class="fab fa-google fa-lg"></i></a>
            </span>
    {{ elseif site.researchgate }}
        <a href="https://www.researchgate.net/profile/{{ site.researchgate }}">
            <span style="color: {{ theme.social-color }};">
                <i class="fab fa-researchgate fa-lg"></i></a>
            </span>
    {{ elseif site.orcid }}
        <a href="https://orcid.org/{{ site.orcid }}">
            <span style="color: {{ theme.social-color }};">
                <i class="fab fa-orcid fa-lg"></i></a>
            </span>
    <i> &nbsp;&nbsp; </i>
</span>
